@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons-Regular.ttf); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.account-dropdown{
    min-width: 15em;
}
.account-dropdown img{
    border-radius: 50%;
    padding: 0;
    height: 5.5rem;
}

.account-dropdown span{
    display: block;
    font-size: 1.5em;
    padding-top: 0.2rem;
}

.account-dropdown li{
    color: #888;
    cursor: pointer;
}

.account-dropdown li:hover{
    color: #000000;
}

.btn-course-dropdown{
    font-weight: 400 !important;
}

.btn-course-dropdown:hover {
  box-shadow: none !important;
  color: #545353 !important;
}

.btn-course-dropdown:focus {
    background-color: unset !important;
    color: #545353 !important;
    box-shadow: none !important;
    border-color: none !important;
}

.btn-course-dropdown i{
    vertical-align: middle;
}

.schedule-table th{
    min-width: 80px;
    border: 1px solid #ccc5c5;
    text-align: center;
}

.schedule-table td{
    min-width: 80px;
    border: 1px solid #ccc5c5;
    text-align: center;
}

.schedule-table tbody td{
    background-color: #fafafa;
}

.schedule-table tbody td:nth-child(odd){
    background-color: unset;
}

.schedule-table tbody th{
    background-color: #f96332;
    color: white;
}

.schedule-table thead th{
    background-color: #f9f9f9;
    color: #f96332;
}

.disable-date,
.offline {
  height: 100%;
}
.offline {
    background-image: repeating-linear-gradient(135deg,
    rgba(244, 67, 54, 0.1),
    rgba(244, 67, 54, 0.1) 4px,
    transparent 4px,
    transparent 9px);
color: #9B6467;
}

.dx-scheduler-time-panel-cell .offline {
    background-image: repeating-linear-gradient(135deg,
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1) 4px,
      transparent 4px,
      transparent 9px);
  color: #9B6467;
}

.dx-draggable {
  cursor: auto;
}

.off-canvas-sidebar .user, .sidebar .user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
}

.off-canvas-sidebar .user .photo, .sidebar .user .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    z-index: 5;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: 23px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
}

.off-canvas-sidebar .user .info>a, .sidebar .user .info>a {
    display: block;
    line-height: 18px;
}
.off-canvas-sidebar .user a, .sidebar .user a {
    color: #fff;
    text-decoration: none;
    padding: .5rem 15px;
    white-space: nowrap;
}
.off-canvas-sidebar .nav, .sidebar .nav {
    margin-top: 20px;
    display: block;
}
.off-canvas-sidebar .user .info .caret, .sidebar .user .info .caret {
    position: absolute;
    top: 14px;
    right: 18px;
}
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon, .off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon, .sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon, .sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini-icon {
    text-transform: uppercase;
    width: 34px;
    margin-right: 10px;
    margin-left: 0;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    position: relative;
    float: left;
    z-index: 1;
    display: inherit;
    line-height: 24px;
    color: hsla(0,0%,100%,.5);
}
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-normal, .off-canvas-sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal, .sidebar .sidebar-wrapper .user .info [data-toggle=collapse]~div>ul>li>a .sidebar-normal, .sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal {
    margin: 0;
    position: relative;
    transform: translateX(0);
    opacity: 1;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    z-index: 1;
}

.off-canvas-sidebar .user:after, .sidebar .user:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,100%,.5);
}
.tox-statusbar__branding{
    display: none;
}
.wrapper {
    background:url(/background.jpg);
    background-position: center;
}
.loginBox{
    background-color: rgba( 255,255, 255, 0.1);
    color: white;
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20%;
    max-width: 488px;
}
.loginNavbar{
    box-shadow: unset;
}
.navbar .navbar-collapse a.simple-text.logo-mini {
    opacity: 1;
    float: left;
    width: 34px;
    text-align: center;
    margin-left: 10px;
    margin-right: 12px;
}
.navbar .navbar-collapse a.simple-text {
text-transform: uppercase;
    padding: 0.5rem 0;
    display: block;
    white-space: nowrap;
    font-size: 1em;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
}
.navbar .navbar-collapse a.simple-text.logo-normal {
display: block;
opacity: 1;
-webkit-transform: translate3d(0px, 0, 0);
-moz-transform: translate3d(0px, 0, 0);
-o-transform: translate3d(0px, 0, 0);
-ms-transform: translate3d(0px, 0, 0);
transform: translate3d(0px, 0, 0);
}

ul.nav li.active p, ul.nav li.active i, ul.nav li.active a{
    color: black !important;
}

.panel-header{
    background: url(/img/background.jpg);
    background-position: center;
    color: white;
}

.login-line{
    border-top: 3px solid rgb(255 255 255 / 49%);
    width: 190px;
}
.btn-login{
    background-color: transparent;
    border: 1px solid #8d8d8d;
    border-radius: 26px;
    color: #f5f5f5;
}
.btn-login:hover{
    background-color: #0000003b !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}
.btn-login:focus {
    background-color: #0000003b !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}
.btn-login i{
    margin-left: 5px;
}
.btn-login i, .btn-login span{
    vertical-align: middle;
}
.back_arrow{
    border: solid 2px black;
    border-radius: 20px;
    vertical-align: sub;
    margin-right: 11px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.back_arrow:hover{
    color: #2d2d2d;
    background-color: #5a5a5a47;
}
tr.clickable{
    cursor: pointer;
}
tr.clickable:hover{
    background-color: #dee2e6;
}

tr.clickable[aria-expanded="true"]{
    background-color: #dee2e6;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
option:disabled {
    background-color: #d6d6d6;
}
.news-block{
    border-color: #d6d6d6;
    border-width: 1px 0px;
    border-style: solid;
    padding: 15px;
}

.date{
    font-size: 16px;
    vertical-align: sub;
}