﻿@model FlightEvents.Web.Logics.DiscordLoginResult
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>Pilot Training</title>

            <!--Fonts -->

            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

            <!--CSS -->
            <link href='/css/bootstrap.min.css' rel="stylesheet">
            <link href='/css/now-ui-dashboard.css' rel="stylesheet">
            <link href='/css/custom.css' rel="stylesheet">


        </head>
        <body>
            <div class="wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8" style="max-width: 488px">
                            <div class="card loginBox">
                                <div class="card-header text-center">
                                    
                                    <hr class="login-line">
                                </div>

                                <div class="card-body col-10 offset-1" style="text-align:center">
                                    <p>Hello @Model.User.Username#@Model.User.Discriminator, you may now close this window and return to the UltraATC Client.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
